{% extends "wa/base_main.html" %}

{% block content %}

{% load staticfiles %}


<script type="text/javascript">
Ladda.bind( 'input[type=submit]' );
</script>
<div class="col-sm-7 col-sm-offset-1">
    <div class="row">
        <!--<div class="col-sm-5">-->
            <div class="add-comment styled boxed" id="addcomments">             
                <div class="comment-form">
                    <form action="{% url "uploadBook" %}" method="post" enctype="multipart/form-data">
                        <div class="form-inner">
     	                <label></label>
                            {% csrf_token %}
                                <div class="field_text">
                                	<label>Book Name</label>
                                	<input type="text" name="bookName"></input>
                                </div>
                                <div class="field_text">
                                	<label>Author</label>
                                	<input type="text" name="author"></input>
                                </div>
                                <div class="field_select">
                                <label>Language</label>
                                <select id = "language" class="chosen" name="language">
                                <option value = "default">--Choose a Language--</option>
                                {% for lang in langs %}
                                        <option value = "{{lang.langName}}">{{lang.langName}}</option>
                                {% endfor %}
                                </select>
                                <script src="{% static "wa/arctic-sunset-css/js/jquery.chosen.min.js"%}"></script>
                                <script type="text/javascript">
                                jQuery(document).ready(function(){
                                    jQuery('#language').chosen();
                                });
                                </script>
                                </div>
                                <p>{{ form.non_field_errors }}</p>
                               
                                <p>
                                    {{ form.docfile.errors }}
                                    {{ form.docfile }}
                                </p>
                                <!--<div class="rowSubmit">
                                <span class="btn btn-red">
                                <p><input type="submit" value="Upload Book" /></p>
                                </span></div>-->
                                <!--<p>
                <input type="submit" class="ladda-button" data-style="expand-right"><span class="ladda-label">Submit</span></input></p>
                                <p><button class="ladda-button" data-style="expand-right"><span class="ladda-label">Submit</span></button></p>-->
                                <button class="ladda-button" data-color="mint" data-style="expand-right" data-size="xl">Submit</button> 
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
<script src="/static/wa/js/spin.min.js"></script>
<script src="/static/wa/js/ladda.min.js"></script>
<script type="text/javascript">
  
Ladda.bind( 'button', {
   callback: function( instance ) {
      var progress = 0;
      var interval = setInterval( function() {
         progress = Math.min( progress + Math.random() * 0.1, 1 );
         instance.setProgress( progress );
 
         if( progress === 1 ) {
            instance.stop();
            clearInterval( interval );
         }
      }, 200 );
   }
});
</script>

</script>
{% endblock %}